@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,700,900');
/*background*/
.opacityFull{
    opacity:1;
}
.opacityNone{
    opacity: 0;
}
.opacityWrapper{
    position: absolute;
    bottom:0;
    top:0;
    right:0;
    left:0;
    z-index: -1;
    width:50%;
    height:50%;
    background-color: #ffffff;
    opacity: 0.6;
}
.videoWrapper{
    position: fixed;
    z-index: -99;
    width: 120%;
    height: 120%;
    pointer-events: none;
}
iframe{
    padding: 0 ;
    margin-top: -60px;
    height:110%;
    width:105%;
    margin-left: -30px;
    overflow: hidden;
}
/*body*/
.full_background{
    background: url(../img/emSvYMy.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    background-position-x: 0 ;
    background-position-y: 0 ;
}
.full_background1:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 190%;
    height:200%;
    z-index: 1;
    opacity: 0.3;
    background-image: url('../img/9unfFH5_1.gif');
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    animation: animatedBackground 20s  forwards;
}
@keyframes animatedBackground {
    from {
        left: 0 ;
        background-position-y: 0 ;
    }
    50%{
        background-position-y: 570% ;

    }
    to {
        left: -90% ;
        background-position-y: -50% ;
    }
}
.container{
    background-color: orangered;
    height:100%;
}
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
/* Buttons*/
.button_row{
    position: absolute;
    left: 0;
    top: 65%;
    bottom: 0;
    right: 0;
}
.color_row{
    width: 100%;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    /* align-items: center;         for single line flex container */
     align-content: center;       /*for multi-line flex container */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.color_row input{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-width: 0;
    height:59px;
    width:5%;
}
.color_row input:nth-child(4){
    background-color: black;
    color: white;
    height:55px
}
.singlebutton{
    position: relative;
    display: block;
    margin-top: 35px;
    border-radius: 0;
    height: 65px;
    min-width: 250px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size:40px;
}
.shadowfilter {
    -webkit-filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, 0.8));
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.shadowfilter:hover {
    -webkit-filter: drop-shadow(0px 0px 28px rgba(0, 231, 255, 0.8));
}

/* ball */
#ball span{
    font-family: 'Alegreya Sans SC', sans-serif;
    left: 42%;
    top: 49%;
    font-size: 4px;
    display: inline;
    position: absolute;
    text-align: center;
}
#ball_wrapper {
    width: 85%;
    height: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    z-index: 100;
    -webkit-transition: all 5s linear 0s;
    -moz-transition: all 5s linear 0s;
    transition: all 5s linear 0s;
    cursor: pointer;
}
#ball:active {
    -webkit-transform: scale(7);
    -moz-transform: scale(7);
    -ms-transform: scale(7);
    -o-transform: scale(7);
    transform: scale(7);
    cursor: pointer;
}
#ball {
    position: absolute;
    margin: auto;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background: linear-gradient(245deg, #23d721, #4b80ca);
    background-size: 100% 100%;
    opacity: 0.2;
    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 11;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@keyframes AnimationName {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
#ball > span{
font-family: "Comic Sans MS", sans-serif;
}
/* Animations */
@-webkit-keyframes jump {
    0% {top: 0;
        -webkit-animation-timing-function: ease-in;
    }
    40% {}
    50% {top: 140px; height: 140px;
        -webkit-animation-timing-function: ease-out;
    }
    55% {top: 160px; height: 120px; border-radius: 70px / 60px;
        -webkit-animation-timing-function: ease-in;}
    65% {top: 120px; height: 140px; border-radius: 70px;
        -webkit-animation-timing-function: ease-out;}
    95% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
    }
    100% {top: 0;
        -webkit-animation-timing-function: ease-in;
    }
}
@-moz-keyframes jump {
    0% {top: 0;
        -moz-animation-timing-function: ease-in;
    }
    40% {}
    50% {top: 140px;
        height: 140px;
        -moz-animation-timing-function: ease-out;
    }
    55% {top: 160px; height: 120px; border-radius: 70px / 60px;
        -moz-animation-timing-function: ease-in;}
    65% {top: 120px; height: 140px; border-radius: 70px;
        -moz-animation-timing-function: ease-out;}
    95% {
        top: 0;
        -moz-animation-timing-function: ease-in;
    }
    100% {top: 0;
        -moz-animation-timing-function: ease-in;
    }
}
@-o-keyframes jump {
    0% {top: 0;
        -o-animation-timing-function: ease-in;
    }
    40% {}
    50% {top: 140px;
        height: 140px;
        -o-animation-timing-function: ease-out;
    }
    55% {top: 160px; height: 120px; border-radius: 70px / 60px;
        -o-animation-timing-function: ease-in;}
    65% {top: 120px; height: 140px; border-radius: 70px;
        -o-animation-timing-function: ease-out;}
    95% {
        top: 0;
        -o-animation-timing-function: ease-in;
    }
    100% {top: 0;
        -o-animation-timing-function: ease-in;
    }
}
@-ms-keyframes jump {
    0% {top: 0;
        -ms-animation-timing-function: ease-in;
    }
    40% {}
    50% {top: 140px;
        height: 140px;
        -ms-animation-timing-function: ease-out;
    }
    55% {top: 160px; height: 120px; border-radius: 70px / 60px;
        -ms-animation-timing-function: ease-in;}
    65% {top: 120px; height: 140px; border-radius: 70px;
        -ms-animation-timing-function: ease-out;}
    95% {
        top: 0;
        -ms-animation-timing-function: ease-in;
    }
    100% {top: 0;
        -ms-animation-timing-function: ease-in;
    }
}
@keyframes jump {
    0% {
        top: 0;
        animation-timing-function: ease-in;
    }
    50% {
        top: 140px;
        height: 140px;
        animation-timing-function: ease-out;
    }
    55% {
        top: 160px;
        height: 120px;
        border-radius: 70px / 60px;
        animation-timing-function: ease-in;
    }
    65% {
        top: 120px;
        height: 140px;
        border-radius: 70px;
        animation-timing-function: ease-out;
    }
    95% {
        top: 0;
        animation-timing-function: ease-in;
    }
    100% {
        top: 0;
        animation-timing-function: ease-in;
    }
}

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
}
/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}
/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
}